include "~/dotfiles/nano/apacheconf.nanorc"
include "~/dotfiles/nano/asm.nanorc"
include "~/dotfiles/nano/cmake.nanorc"
include "~/dotfiles/nano/c.nanorc"
include "~/dotfiles/nano/conf.nanorc"
include "~/dotfiles/nano/css.nanorc"
#include "~/dotfiles/nano/cython.nanorc"
include "~/dotfiles/nano/fortran.nanorc"
include "~/dotfiles/nano/gentoo.nanorc"
include "~/dotfiles/nano/groff.nanorc"
include "~/dotfiles/nano/haml.nanorc"
include "~/dotfiles/nano/html.nanorc"
include "~/dotfiles/nano/java.nanorc"
include "~/dotfiles/nano/js.nanorc"
include "~/dotfiles/nano/lua.nanorc"
include "~/dotfiles/nano/man.nanorc"
include "~/dotfiles/nano/mutt.nanorc"
include "~/dotfiles/nano/nanorc.nanorc"
include "~/dotfiles/nano/patch.nanorc"
include "~/dotfiles/nano/perl.nanorc"
include "~/dotfiles/nano/php.nanorc"
include "~/dotfiles/nano/pov.nanorc"
include "~/dotfiles/nano/python.nanorc"
include "~/dotfiles/nano/reST.nanorc"
include "~/dotfiles/nano/ruby.nanorc"
include "~/dotfiles/nano/sh.nanorc"
include "~/dotfiles/nano/tex.nanorc"
include "~/dotfiles/nano/xml.nanorc"
include "~/dotfiles/nano/zshrc.nanorc"
